body {
    color: white;
    background:blue;
    margin: 0px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 35px;
    color: yellow;
}

.chamada{
	background: black;
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p{
    font-size: 25px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 25px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 250px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 5px solid yellow;
}

.categoria h2 {
    color: orange;
}
